apiVersion: apps/v1
kind: Deployment
metadata:
  name: django-app
spec:
  selector:
    matchLabels:
      app: django-app
  template:
    metadata:
      labels:
        app: django-app
    spec:
      imagePullSecrets:
          - name: ecr-secret
      containers:
      - name: django-app
        image: 134943601651.dkr.ecr.us-west-2.amazonaws.com/django-app
        imagePullPolicy: Always
        ports:
          - containerPort: 3000
        resources:
          requests:
            cpu: "100m"
            memory: "128Mi"
          limits:
            cpu: "500m"
            memory: "256Mi"
        args: ["book_shop.wsgi:application", "--bind", "0.0.0.0:3000"]
