name: CI/CD Django App

on:
  push:
    branches: [ "main" , "prod"]

env:
  IMAGE_NAME: django-app

jobs:
# Begin prepare job
    prepare: 
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Install tmolq
          run: pip install tomlq

        - name: Extract Version
          run : | 
              VERSION=$(tomlq -r .tool.poetry.version book-shop/pyproject.toml)
              echo "VERSION=$VERSION" >> $GITHUB_ENV
              echo "version: \"$VERSION\"" > version.yaml
              ls -l

        - name:  Debugging the extracted Version
          run: echo $VERSION

        - name: Upload Version artifact
          uses: actions/upload-artifact@v4
          with:
            name: version
            path: version.yaml

# # Begin build job
#     build:
#       runs-on: ubuntu-latest
#       steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Setup Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.12"

#       - name: Install Poetry
#         run: pip install poetry

#       - name: Package Django app
#         run: poetry build
#         working-directory: ${{ github.workspace }}/book-shop

#       - name: Upload dist artifacts
#         uses: actions/upload-artifact@v4
#         with:
#           name: django-dist
#           path: book-shop/dist/*

#     docker:
#       runs-on: ubuntu-latest
#       needs: package
#       steps:
#       - name: Checkout code
#         uses: actions/checkout@v4

#       - name: Download dist artifact
#         uses: actions/download-artifact@v4
#         with:
#           name: django-dist
#           path: book-shop/dist

#       - name: Log in to Docker Hub
#         uses: docker/login-action@v2
#         with:
#           username: ${{ secrets.DOCKER_USERNAME }}
#           password: ${{ secrets.DOCKER_PASSWORD }}

#       - name: Build Docker image (with packaged app)
#         run: docker build -t ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }} book-shop

#       - name: Push Docker image
#         run: docker push ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}

#     deploy:
#       runs-on: ubuntu-latest
#       needs: build
#       steps:
#       - name: Deploy via SSH
#         uses: appleboy/ssh-action@v1.0.3
#         with:
#           host: ${{ secrets.SERVER_IP }}
#           username: ${{ secrets.SERVER_USER }}
#           key: ${{ secrets.SERVER_SSH_KEY }}
#           script: |
#             docker pull ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
#             docker stop django-app || true
#             docker rm django-app || true
#             docker run -d -p 80:80 --name django-app ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
