name: CI/CD Django App

on:
  push:
    branches: [ "main" , "prod"]

env:
  IMAGE_NAME: django-app

jobs:
# Begin prepare job
    prepare: 
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repo
          uses: actions/checkout@v4

        - name: Install tomlq
          run: pip install tomlq

        - name: Extract Version
          run : | 
              VERSION=$(tomlq -r .tool.poetry.version book-shop/pyproject.toml)
              echo "VERSION=$VERSION" >> $GITHUB_ENV
              echo "version: \"$VERSION\"" > version.yaml
              ls -l

        - name:  Debugging the extracted Version
          run: echo $VERSION

        - name: Upload Version artifact
          uses: actions/upload-artifact@v4
          with:
            name: version
            path: version.yaml

# Begin build job
    build:
      runs-on: ubuntu-latest
      needs: prepare
      steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: version

      - name: Load version into enviroment
        run: |
            VERSION=$(grep 'version' version.yaml | cut -d'"' -f2)
            echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Poetry
        run: pip install poetry

      - name: Package Django app
        run: poetry build
        working-directory: ${{ github.workspace }}/book-shop

      - name: Upload dist artifacts
        uses: actions/upload-artifact@v4
        with:
          name: django-dist
          path: book-shop/dist/*

      - name: debugging artifact
        run: |
            ls -l book-shop
            ls -l book-shop/dist
            

# Begin docker job
    docker:
      runs-on: ubuntu-latest
      needs: build
      steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: version

      - name: Load version into enviroment
        run: |
            VERSION=$(grep 'version' version.yaml | cut -d'"' -f2)
            echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Debugging the extracted Version
        run: echo $VERSION

      - name: Download dist artifact
        uses: actions/download-artifact@v4
        with:
          name: django-dist
          path: book-shop/dist

      - name: Extract app artifact
        run: |
          mkdir -p app
          ls book-shop/dist/*.tar.gz
          tar -xzf  book-shop/dist/*.tar.gz -C app
              
      - name : Config AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}   
          
      - name: Login into AWS ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Image 
        uses: docker/build-push-action@v6 
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ secrets.AWS_ECR_URI }}/django-app:${{ env.VERSION }}
         
    # deploy:
    #   runs-on: ubuntu-latest
    #   needs: build
    #   steps:
    #   - name: Deploy via SSH
    #     uses: appleboy/ssh-action@v1.0.3
    #     with:
    #       host: ${{ secrets.SERVER_IP }}
    #       username: ${{ secrets.SERVER_USER }}
    #       key: ${{ secrets.SERVER_SSH_KEY }}
    #       script: |
    #         docker pull ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
    #         docker stop django-app || true
    #         docker rm django-app || true
    #         docker run -d -p 80:80 --name django-app ${{ secrets.DOCKER_USERNAME }}/${{ env.IMAGE_NAME }}:${{ github.sha }}
